.container {
  width: 90%;
  margin: 20px auto 0 auto;
}

.back-to-main-button {
  margin: 0 0 10px 20px;
  color: var(--main-color);
}

.admin-panel {
  background-color: var(--main-color);
  border-radius: 20px;
  color: var(--white-color);
  min-width: 660px;
}
.admin-panel__header-row {
  display: flex;
  padding: 15px 0 0 0;
  height: 100px;
}
.admin-panel__header-row-left {
  width: 70%;
  flex-shrink: 0;
}
.admin-panel__header-row-right {
  width: 30%;
  flex-shrink: 0;
  padding: 0 20px 0 0;
}
.admin-panel__header {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  margin: 0 0 15px 0;
  max-height: 55px;
  height: 100%;
  vertical-align: bottom;
}
.admin-panel__add-project-button {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  padding: 0 10px 0 10px;
  vertical-align: middle;
  background-color: var(--white-color);
  max-height: 55px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 20px;
  border: solid 2px var(--black-color);
  cursor: pointer;
}
.admin-panel__projects-container {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
}

.project-card {
  width: 100%;
  min-width: 500px;
  background-color: var(--white-color);
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
  padding: 10px;
  border: solid 2px var(--black-color);
  border-radius: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-card__left-part {
  width: 95%;
}
.project-card__right-part {
  width: 5%;
  margin: 0 20px 0 0;
}
.project-card__buttons {
  display: flex;
  gap: 10px;
}
.project-card__edit-button, .project-card__delete-button {
  border-radius: 20px;
  height: 40px;
  width: 25px;
  min-height: 40px;
  min-width: 25px;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 500;
  border: 0;
  background-color: var(--main-color);
  cursor: pointer;
}

.project-form {
  font-size: 24px;
  background-color: var(--white-color);
  border: 4px solid var(--text-color);
  border-radius: 10px;
  padding: 15px;
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  max-height: 90vh;
  overflow-y: auto;
}
.project-form__name {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 20px 0;
  color: var(--main-color);
}
.project-form__line {
  display: flex;
  margin: 0 0 10px 0;
}
.project-form__label {
  width: 50%;
}
.project-form__input {
  width: 50%;
  height: auto;
  resize: none;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  padding: 5px;
}
.project-form__textarea {
  width: 50%;
  resize: none;
  overflow: hidden;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  padding: 5px;
}
.project-form__close-button-container {
  display: flex;
  justify-content: right;
}
.project-form__close-button {
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
  color: var(--text-color);
  border: 3px solid;
  border-radius: 10px;
}
.project-form__submit-button-container {
  display: flex;
  justify-content: center;
  margin: 15px 0 0 0;
}
.project-form__submit-button {
  font-weight: 600;
  font-size: 32px;
  color: white;
  padding: 10px;
  background-color: var(--main-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.admin-gallery {
  min-height: 150px;
  width: 100%;
  background-color: var(--text-color);
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
}
.admin-gallery__item {
  width: 23%;
  cursor: pointer;
}
.admin-gallery__item:hover {
  opacity: 0.2;
}
.admin-gallery__button-container {
  width: 23%;
  height: 150px;
}
.admin-gallery__plus-button {
  width: 100%;
  height: 100%;
  color: var(--main-color);
  font-size: 80px;
  font-weight: 600;
  background-color: var(--white-color);
  border: none;
  cursor: pointer;
}

.admin-file-container {
  margin: 20px 0 0 0;
  background-color: var(--light-gray-color);
}
.admin-file-container__row {
  margin: 0 0 0 20px;
}
.admin-file-container__link {
  color: var(--main-color);
}
.admin-file-container__delete-button {
  font-weight: 600;
  cursor: pointer;
}
.admin-file-container__add-button {
  background-color: var(--main-color);
  padding: 10px;
  font-size: 20px;
  color: var(--white-color);
  border: none;
  border-radius: 20px;
  margin: 10px 0 10px 30px;
  cursor: pointer;
}/*# sourceMappingURL=admin-page.css.map */