@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #7793de;
  --text-color: #555;
  --white-color: #fff;
  --black-color: #000;
  --helper-color: #716f6f;
  --light-gray-color: #f3f3f3;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header__nav {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-container {
  min-width: 135px;
}
.header__nav-list-container {
  min-width: 120px;
}
.header__button-container {
  min-width: 90px;
}
.header__logo {
  max-height: 100px;
}
.header__logo:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
.header__nav-list {
  display: flex;
  list-style: none;
  font-size: 28px;
  flex-wrap: wrap;
  line-height: 1.7;
}
.header__list-element {
  margin: 0 3em 0.1em 0;
}
.header__list-element a {
  text-decoration: none;
  font-weight: 600;
  color: var(--main-color);
  position: relative;
}
.header__list-element a::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: var(--main-color);
  margin: auto;
  border-radius: 10px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
.header__list-element a:hover::after {
  width: 90%;
}
.header__login-button {
  background-color: var(--main-color);
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 30px;
  font-size: 24px;
  color: white;
  transition: transform 0.2s ease;
  min-width: auto;
  padding: 0 10px;
}
.header__login-button:hover {
  transform: translateY(-5px);
}
.header__bottom-border {
  margin-top: 20px;
  border-bottom: 14px solid var(--main-color);
  border-radius: 10px;
}

.popup {
  position: fixed;
  left: 50%;
  background-color: var(--white-color);
  transform: translate(-50%, -50%) scale(1.25);
  top: -150%;
  opacity: 0%;
  width: 550px;
  height: 500px;
  z-index: 1;
  padding: 0 1em;
  border-radius: 40px;
  border: solid 12px var(--main-color);
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}
.popup__active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}
.popup__close-button-container {
  display: flex;
  justify-content: right;
}
.popup__close-btn {
  font-size: 32px;
  font-weight: 600;
  text-align: right;
  opacity: 0.7;
  border: none;
  background: none;
  padding: 0 20px 0 0;
}
.popup__close-btn:hover {
  opacity: 1;
}
.popup__name {
  font-size: 42px;
  color: var(--black-color);
  font-weight: 600;
  text-align: center;
  margin: 0 0 20px 0;
}
.popup__form-element {
  display: flex;
  margin: 0 auto 20px auto;
  width: 95%;
  justify-content: space-around;
  align-items: center;
}
.popup__label {
  font-size: 26px;
  font-weight: 400;
  width: 30%;
}
.popup__input {
  color: var(--text-color);
  font-size: 24px;
  border: 2px solid var(--text-color);
  border-radius: 20px;
  padding: 5px;
  width: 70%;
}
.popup__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
}
.popup__button {
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 24px;
  font-weight: 400;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: none;
}
.popup__info {
  text-align: center;
  font-size: 24px;
  color: var(--text-color);
  line-height: 1.2;
}
.popup__special-text {
  color: var(--main-color);
}
.popup__link {
  color: var(--main-color);
}/*# sourceMappingURL=style.css.map */