.container{
    width: 90%;
    margin: 20px auto 0 auto;
}

.admin-panel{
    background-color: var(--main-color);
    border-radius: 20px;
    color: var(--white-color);

    min-width: 800px;

    &__header-row{
        display: flex;

        padding: 15px 0 0 0;
        height: 100px;
    }

    &__header-row-left{
        width: 70%;
        flex-shrink: 0;
    }

    &__header-row-right{
        width: 30%;
        flex-shrink: 0;

        padding: 0 20px 0 0;
    }

    &__header{
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        margin: 0 0 15px 0;

        max-height: 55px;
        height: 100%;

        vertical-align: bottom;
    }

    &__add-project-button{
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        padding: 0 10px 0 10px;

        vertical-align: middle;


        max-height: 55px;
        height: 100%;

        overflow: hidden;
        text-overflow: ellipsis;

        border-radius: 20px;
        border: solid 2px var(--black-color);
    }

    &__projects-container{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
        
        padding: 20px;
    }

    &__project-card{
        background-color: var(--white-color);
        
        color: var(--main-color);
        font-size: 24px;
        font-weight: 600;
        
        padding: 10px;

        border: solid 2px var(--black-color);
        border-radius: 20px;

        margin-bottom: 30px;
    }
}