
// Project page style
// 1. Common styles
// 2. Lab-project page style
// 3. Project-gallery style

// 1. Common styles
.main{
    margin: 20px 0 0 0;
}

// 2. Lab-project page style
.lab-project-page{
    height: 100%;
    display: flex;

	&__flex-container{
        display: flex;;
    }

	&__left-part{
        width: 65%;
    }

	&__name{
        font-size: 36px;
        font-weight: 800;
        color: var(--black-color);
    }

	&__summary{
        font-size: 30px;
        font-weight: 600;
        color: var(--main-color);
        
        margin: 0 0 20px 0;
    }

	&__header{
        font-size: 28px;
        font-weight: 600;
        color: var(--black-color);
        
        margin: 20px 0 0 0;
    }
	&__text{
        font-size: 24px;
        font-weight: 500;
        color: var(--text-color);

        max-width: 80%;

        padding: 0 0 0 30px;
    }
	&__right-part{
        width: 35%;
        height: 55%;
        background-color: var(--main-color);
        border-radius: 40px;
    }
}

.file-container{
    width: 70%;
    margin: 20px 0 20px 0;
    background-color: var(--light-gray-color);
    border-radius: 20px;
    padding: 30px;

    &__icon{
        font-size: 20px;

        padding: 5px 0 0 0;
        margin: 0 10px 0 0;
    }
    &__row{
        display: flex;
    }

    &__link{
        font-size: 20px;
        color: var(--main-color);
        cursor: pointer;
    }
}

.creators-card{
    padding: 20px 20px;
    word-wrap: break-word;
    color: var(--white-color);
	
    &__authors-header, 
    &__director-header{
        font-size: 30px;
        font-weight: 600;
        margin: 0 0 3px 0;
    }

	&__authors-list{
        margin: 0 0 20px 0;
    }
	&__authors-list-element{
        font-size: 26px;
        font-weight: 500;
    }

	&__director-info{
        font-size: 26px;
        font-weight: 500;
        color: var(--white-color);

        background: none;
        border: none;
    }

    &__director-popup{
        font-size: 20px;
        color: var(--main-color);
        
        width: 100%;

        background-color: var(--white-color);
        border-radius: 20px;

        margin: 10px 0 0 0;
        padding: 10px;

        opacity: 0;
        transition: opacity 0.3s ease-in;
    }
}


// 3. Project-gallery style
.project-gallery{
    width: 100%;

    border-radius: 40px;
    background-color: var(--light-gray-color);

    margin: 0 0 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: content-box;

    padding: 20px 0;

    &__image-row{
        height: 90%;
        width: 90%;

        display: flex;
        justify-content: space-between;

        gap: 5em;

        flex-wrap: wrap;
    }

    &__image-container{
        height: 100%;
        width: 25%;

        // Maybe need this
        flex-grow: 0;

    }

    &__image{
        height: 100%;
        width: 100%;

        border-radius: 20px;
       
        cursor: pointer;
        object-fit: cover;

        min-height: 300px;
    }
}

.enlarged-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: hidden;
  }
  
  .enlarged-image {
    max-width: 90%;
    max-height: 90%;
  }
  
  .no-scroll {
    overflow: hidden;
  }
